/frontend/node_modules


/backend/node_modules
/backend/.env
/backend/request_response.MD
/backend/certificate
/backend/Untitled2.ipynb
/backend/Book1.xlsx
/backend/.ipynb_checkpoints
/backend/budget_bonds.sql
/backend/DB/test_fl.sql